#root {
   max-width: 1280px;
   margin: 0 auto;
   padding: 2rem;
   text-align: center;
 }
 
.SynthLogLogo {
   width: 500px;
   border-radius: 10px;
} 
.AppBackground {
   background: url('./assets/welcomescreen.png') no-repeat center center fixed;
   background-size: contain;
   width: 100vw; 
   height: 100vh; 
   display: flex;
   justify-content: center;
   overflow: hidden;
}
.ButtonContainer {
   position: absolute; 
   top: 80%; 
   left: 70%; 
   transform: translate(-50%, -50%); 
   z-index: 10; 
}